@model Web_MVC_EFB4.Models.ProductViewModel


<div>
    <h4>Chi tiết sản phẩm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desrciption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desrciption)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary" mr-3 >Sửa</a> 
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
