@model IEnumerable<Web_MVC_EFB4.Models.ProductViewModel>

<h4>Danh sách sản phẩm</h4>
<p>
	<a asp-action="Create">Thêm mới</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				Tên sản phẩm
			</th>
			<th>
				Giá sản phẩm
			</th>
			<th>
				Mô tả
			</th>
			<th style="width:17%">Thao tác</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Price)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Desrciption)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Sửa</a>
					<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">Xem</a>
					<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Xóa</a>
				</td>
			</tr>
		}
	</tbody>
</table>
